h1{
	margin: 0 auto;
	margin-top: 50px;
	font-size: 60px;
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
	border-bottom: 1px solid black;
}

#where{
	margin-top: 90px;
	font-size: 40px;
	text-align: center;
}

#where input{
font-size: 30px;
}

/*#routes{
	text-align: center;
	font-size:32px;
}*/

#submit_from_to{
	font-size: 29px;
}
/*#caution{
	text-align: center;
	margin-top: 70px;
	font-size: 40px;
}*/
#indirect{
	text-align: center;
	font-size:32px;
	
	font-family: helvetica;
	margin: 0 auto;
	width:1100px;
}
tr,td{
	font-size: 22px;
	border:1px solid #dddddd;
	font-weight: 200;
}

th{
	border:1px solid #dddddd;
	font-size: 25px;
	font-weight: 400;
	color: #222222;
}
.list{
	font-size: 25px;
}
/
